@mixin text($color, $size, $weight) {
  color: $color;
  font: {
    size: $size;
    weight: $weight;
  }
}

@mixin link {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  transition-duration: 0.3s;
  &:hover {
    color: rgb(219, 38, 38);
  }
}